* {

    padding:0;
    margin:0;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {

    width:100%;
    height:100vh;
    background-image: linear-gradient(to bottom, black , rgb(1, 1, 117));
}

.container {

    width:100%;
    height:100%;
    background-image: url(image/stars1.png);
    display: flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    position:relative;
    
}



ul li {

    list-style: none;
    
}
ul  {

    display: flex;
    flex-direction: column;
    gap:30px;
    
}

 ul li a {
        display: inline-block;
        width:160px;
        background-color: blue;
        font-size: 26px;
        text-decoration:none;
        border-radius: 20px;
        padding:5px 10px;
        transition-duration: 0.5s;
    
}

ul li a:hover {

    background-color: blueviolet;
    transform:scale(1.3);
}

ul:hover a {

    opacity: 0;
    z-index: 10;
    position: relative;
}

 ul li a:hover {

        opacity: 1;
    
}

.container ul li::after {

    content:attr(data-text);
    position:absolute;
    right:50%;
    top:50%;
    transform:translate(50%,-50%);
    opacity: 0;
    font-size: 80px;
    pointer-events: none;
    transition-duration: 1s;
    letter-spacing: 30px;
    
    

}

.container ul li:hover::after {

    opacity: 0.8;
    letter-spacing: 8px;
    
}

.container ul::before {

    content:"";
    width:200px;
    height:100px;
    background-color: white;
    position:absolute;
    top:50%;
    right:50%;
    transform: translate(50%,110%);
    border-radius: 50%;
    opacity: 0;
    transition-duration: 1s;

}



.container ul:hover::before {

    width:100px;
    height:100px;
    opacity: 0.8;
    box-shadow:0 0 50px orangered;
}

@media (max-width:650px) {

    html , body {

        width:100%;
        height:100%;
        padding:0;
        margin:0;
        overflow:hidden;
    }

    ul li a {

        width:120px;
        font-size: 20px;

    }

    .container ul li::after {

        font-size: 40px;
    }

    ul {

        gap:20px;
    }


}